/* @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
@import "tailwindcss";

@font-face {
  font-family: "roboto-light";
  src: url("/fonts/Roboto_Condensed-Light.ttf");
}

@font-face {
  font-family: "roboto-regular";
  src: url("/fonts/Roboto_Condensed-Regular.ttf");
}

@font-face {
  font-family: "roboto-medium";
  src: url("/fonts/Roboto_Condensed-Medium.ttf");
}

@font-face {
  font-family: "roboto-semibold";
  src: url("/fonts/Roboto_Condensed-SemiBold.ttf");
}

@font-face {
  font-family: "roboto-bold";
  src: url("/fonts/Roboto_Condensed-Bold.ttf");
}

@font-face {
  font-family: "roboto-extrabold";
  src: url("/fonts/Roboto_Condensed-ExtraBold.ttf");
}

@font-face {
  font-family: "playfair-regular";
  src: url("/fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
  font-family: "playfair-medium";
  src: url("/fonts/PlayfairDisplay-Medium.ttf");
}

@font-face {
  font-family: "playfair-semibold";
  src: url("/fonts/PlayfairDisplay-SemiBold.ttf");
}

@font-face {
  font-family: "playfair-bold";
  src: url("/fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: "playfair-extrabold";
  src: url("/fonts/PlayfairDisplay-ExtraBold.ttf");
}

@theme {
  --font-roboto-light: "roboto-light", sans-serif;
  --font-roboto-regular: "roboto-regular", sans-serif;
  --font-roboto-medium: "roboto-medium", sans-serif;
  --font-roboto-semibold: "roboto-semibold", sans-serif;
  --font-roboto-bold: "roboto-bold", sans-serif;
  --font-roboto-extrabold: "roboto-extrabold", sans-serif;
  --font-playfair-regular: "playfair-regular", serif;
  --font-playfair-medium: "playfair-medium", serif;
  --font-playfair-semibold: "playfair-semibold", serif;
  --font-playfair-bold: "playfair-bold", serif;
  --font-playfair-extrabold: "playfair-extrabold", serif;

  /* Light background color */
  --color-background: #f1f2ee; /* White smoke */

  --color-background-black: #0f0e0e;

  /* For subtle borders, lines, or inactive states */
  --color-muted: #bfb7b6; /* Silver */

  /* Primary body text */
  --color-text: #848c8e; /* Battleship gray */

  /* Headlines and strong text */
  --color-text-heading: #435058; /* Outer space */

  /* Vibrant call-to-action color for buttons, highlights, and key interactive elements */
  --color-accent: #dcf763; /* Mindaro */
}

@layer utility {
  body {
    @apply bg-[var(--color-background)] text-[var(--color-text)] overflow-x-hidden;
  }
  .container {
    @apply min-h-full w-full py-10 px-5 max-w-[1200px] mx-auto;
  }
  .floating-nav {
    @apply bg-black rounded-lg border;
    a {
      @apply text-white;
    }
  }
  .hero_line {
    @apply text-center
  }
  #about {
    .about_big_txt {
      @apply overflow-hidden;
    }
    #second-layer {
      .story_lines {
        @apply overflow-hidden;
      }
    }
  }
  .story_text_line {
    overflow: hidden;
  }
  .service-line {
    overflow: hidden;
    display: inline-block;
  }
  .contact_line {
    overflow: hidden;
    display: inline-block;
  }
  .line {
    overflow: hidden;
    display: inline-block;
  }
  .mobile_service.active_service > div {
    @apply h-32 transition-all duration-300
  }
}
